<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/MinStil.css" />
    </head>
    <body>
        <div class="wrapper" >
            <div class="meny">
                <a asp-action="Medlem">För medlemmar</a>
                <a asp-action="Utbud">Utbud</a>
                <a asp-action="Index" asp-controller="Booking">Lediga tider</a>
            </div>
                 <h1>Intermezzo</h1>
                
        </div>
    </body>
</html>